.button-report{
    margin-top: 50px;
    display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
.issuestable {
    height: 60vh;
    background-color: rgb(247, 246, 244);
    box-shadow: 0.5px 0.5px #dbdbdb;

    .issueParts{

      .issueTitle{
        text-align: center;
        height: 30px;
        padding: 5px;
        background-color: rgb(245, 242, 240);
        color: #6c6c6c;
        font-weight: 800;
        font-size: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
      }

      .issuePartsContent {
        overflow-x: hidden;
  
        &::-webkit-scrollbar {
          width: 4px;
        }
  
        &::-webkit-scrollbar-track {
          background-color: #f2f2f2;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: #888888;
          border-radius: 4px;
        }
  
        &::-webkit-scrollbar-thumb:hover {
          background-color: #555555;
        }
        .plannedtableHeader {
          display: table;
          width: 100%;
          border-collapse: collapse;
          padding-top: 2px;
        }
  
        .issueDate,
        .issueDes,
        .issueMachine,
        .issueExp,
        .issueP,
        .issueDepartment {
          text-align: center;
          border-top: 0.5px solid rgb(66, 66, 66);
          border-right: 0.1px solid rgb(202, 202, 202);
          border-bottom: 0.1px solid rgb(66, 66, 66);
          color: rgb(72, 72, 72);
          font-weight: 300;
          padding: 8px;
        }
  
        .issueDate{
          width: 10%;
          background-color: rgb(246, 243, 241);
        }

        .issueDes{
          width: 41%;
          background-color: rgb(246, 243, 241);
        }

        .issueMachine{
          width: 14%;
          background-color: rgb(246, 243, 241);
        }

        .issueDepartment{
          width: 15%;
          background-color: rgb(246, 243, 241);
        }

        .issueExp{
          width: 15%;
          background-color: rgb(246, 243, 241);
        }

        .issueP{
          width: 5%;
          background-color: rgb(246, 243, 241);
        }
      }
    }
  }

  .pikers {
    display: flex;
    justify-content: center;
    margin-left: 20px;

    .dropdown {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #fff;
    }

    /* Style the dropdown arrow */
    .dropdown:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 10px;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #555 transparent;
      transition: all 0.3s ease-in-out;
    }

    /* Change arrow direction when dropdown is open */
    .dropdown.open:after {
      transform: rotate(-180deg);
    }

    /* Style the dropdown options */
    .dropdown option {
      padding: 8px;
      font-size: 16px;
      background-color: #fff;
      color: #555;
    }

    /* Style the dropdown when it is focused */
    .dropdown:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    .IssuesDatePiker {
      width: 20%;
      padding: 8px;
      margin-left: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #fff;
    }

    .IssuesDatePiker::placeholder {
      color: #999;
    }

    .IssuesDatePiker:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }
  }