.home {
  .homeContainer {
    background-color: white;
    .hrwrapper {
      margin: 18px;
      background-color: rgb(247, 246, 244) !important;
      color: red;
      width: 80vw;
      min-height: 88vh;
      box-shadow: 0.75px 0.75px 1px 1px #c0c0c0;
      /*
        .btn {
          position: absolute;
          bottom: 5%;
          right: 5%;
          background-color: rgb(255, 255, 255);
          box-shadow: 0.5px 0.5px 0.5px 0.5px #505050;
          border: none;
          color: rgb(84, 84, 84);
          padding: 12px 24px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
  
          &:hover {
            background-color: #a49eb1;
          }
        }*/

      .titleEmployee {
        height: 40px;
        background-color: rgb(238, 234, 231); //                #ffffff;
        border-radius: 2px 2px 2px 2px;
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
        box-shadow: 1px 1px 1px 1px #999;
        justify-content: center;
        margin-bottom: 7px;
        font-weight: 700;
        text-decoration: none;
        font-size: 20px;
        display: flex;

        .notificationEmployee {
          margin: auto;
          display: block;
          color: #848484;
        }

        .btnEmployee {
          width: 100px;

          .btnelementEmployee {
            margin-left: -120px;
            width: 200px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0.5px 0.5px 0.5px 0.5px #505050;
            border: none;
            color: rgb(0, 0, 0);
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;

            &:hover {
              background-color: #a49eb1;
            }
          }
        }
      }

      .contentEmployee {
        position: relative;
        display: block !important;
        background-color: rgb(255, 255, 255);

        .tr {
          width: 100%;
          background-color: rgb(245, 242, 240);
          height: 40px !important;
          display: block !important;

          td {
            width: 100%;
            vertical-align: middle;
            padding: 5px;
            padding-top: 10px;
          }

          .userID {
            width: 5%;
            padding-left: 15px;
            font-weight: 900;
            color: black;
            border-right: 1px solid black;
          }

          .date {
            width: 10%;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-weight: 900;
            border-right: 1px solid black;
            color: black;
          }

          .email {
            width: 30%;
            border-right: 1px solid black;
            align-items: center;
            text-align: center;
            color: black;
            justify-content: center;
            font-weight: 800;
          }

          .msg {
            width: 30%;
            border-right: 1px solid black;
            align-items: center;
            font-weight: 900;
            text-align: center;
            color: black;
          }

          .position {
            width: 10vw;
            text-align: center;
            font-weight: 800;
            color: black;
            border-right: 1px solid black;
            justify-content: center;
          }

          .phone {
            width: 10vw;
            font-weight: 800;
            border-right: 1px solid black;
            text-align: center;
            color: black;
            justify-content: center;
          }
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: #f2f2f2;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #888888;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #555555;
        }
      }
    }
  }
}
