.home{
    .homeContainer{
        .hrwrapper{
            margin: 20px;
            background-color: #8484cd;
            color: red;
            width: 85vw;
            min-height: 88vh;
            border-radius: 20px;
            box-shadow: 5px 5px #6767a1;
        }
    }
}