.home {
  .homeContainer {
    .hrwrapper {
      margin: 20px;
      background-color: #8484cd;
      color: red;
      width: 80vw;
      min-height: 88vh;
      border-radius: 20px;
      box-shadow: 5px 5px #6767a1;

      .title {
        height: 40px;
        background-color: #6767a1;
        border-radius: 20px 20px 0px 0px;
        margin-top: 10px;
        padding-top: 10px;
        display: flex;

        .notification{
          margin: auto;
          color: #ffffff;
        }
      }
    }
  }
}
