.machineBoxContent {
  margin: 15px;
  background-color: rgb(255, 240, 223);
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(144, 144, 144);

  &:hover {
    background-color: rgb(255, 226, 193);
  }

  .machineBoxUnique{
    color: rgb(255, 119, 119);
    padding-left: 20px;
    font-size: 24px;
    padding-right: 24px;
  }

  .machineBoximage {
    .machineImage {
      width: 200px;
      margin: 20px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .machineContent {
    padding: 15px;

    .machineBoxName {
      padding-top: 10px;
      font-size: 28px;
      color: #808080;
      font-weight: 700;
    }

    .machineBoxDepartment{
      padding-top: 3px;
      font-size: 18px;
      color: rgb(154, 154, 154);
      font-weight: 700;
    }

    .machineBoxDescription{
      padding-top: 13px;
    }
  }
}
