.machineBoxContent {
  margin: 15px;
  background-color: rgb(253, 226, 255);
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(144, 144, 144);

  &:hover {
    background-color: rgb(245, 214, 255);
  }

  .machineBoxUnique{
    color: rgb(212, 14, 14);
    padding-left: 20px;
    font-size: 24px;
  }

  .machineBoximage {
    .machineImage {
      width: 200px;
      margin: 20px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .machineContent {
    padding: 15px;

    .machineBoxName {
      padding-top: 10px;
      font-size: 30px;
      color: #666666;
      font-weight: 700;
    }
  }
}
