// _message.scss

$message-padding: 10px;

/* _message.css */
.messagex {
    display: inline-block; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 8px 12px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }
  
  .message__name {
    position: absolute;
    margin-top: -4rem;
    color: #777;
    font-size: 12px;
  }
  
  .message__sent {
    background-color: #85c78e;
    color: #fff;
    flex-direction: row-reverse;
    text-align: end;
    border-bottom-left-radius: 9999px;
    position: absolute;
  right: 0;
  margin-right: 60px;
  }
  
  .message__received {
    background-color: #e5e5ea;
    color: #000;
    border-bottom-right-radius: 9999px;
  }
  




.chat-main{
    .flex {
        display: flex;
      }
      
      .flex-col {
        flex-direction: column;
      }

      .p{
        padding: 10px;
      }
      /*
      .p-[10px] {
        padding: 10px;
      }*/
}

.msg-txt{
    font-size: 18px;
    color: #000;
}
