.issues {
  height: 13vh;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(255, 255, 243), rgb(255, 255, 233));
  margin: 15px;
  text-align: center;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 0.2px 0.2px 0.5px 0.5px rgb(16, 16, 16);
  cursor: pointer;

  &:hover{
    background-color: yellow;
    background: linear-gradient(to right, rgb(255, 255, 219), rgb(255, 255, 162));
  }

  .content {
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: 800;
    flex-direction: column;
    padding: 2px;
    color: rgb(134, 128, 128);
    font-size: 20px;

    .numberText {
      margin-right: 10px;
      font-weight: 900;
      color: rgb(216, 24, 24);
      font-size: 50px;
    }
  }
}
