.contentequipment{
    color: #cb2222;
    padding: 30px;

    .underrepairtable{
        background-color: #cb2222;
        width: 600px;
        height: 85vh;
    }

    .manage{
        margin-left: 30px;
        background-color: aqua;
        width:600px;

    }
}