.contentequipment{
    color: #cb2222;
    padding: 30px;
    display: flex;

    .spareparts{
        width: 50%;
        background-color: rgb(247, 246, 244);
        height: 85vh;

        .sparetitle{
            text-align: center;
            height: 20px;
            padding: 5px;
            background-color: rgb(238, 234, 231);
            color: #6c6c6c;
            font-weight: 600;
        }
    }

    .sparesection{
        margin-left: 30px;
        background-color: rgb(247, 246, 244);
        width: 50%;

        .manageTitle{
            padding: 5px;
            text-align: center;
            height: 20px;
            color: #6c6c6c;
            font-weight: 600;
            background-color: rgb(238, 234, 231);// antiquewhite;
        }

        .manageContent{
            height: 40vh;
        }

        .graphtitle{
            padding: 5px;
            text-align: center;
            height: 20px;
            color: #6c6c6c;
            font-weight: 600;
            background-color: rgb(238, 234, 231);
        }
    }

    
}