.contentequipment{
    color: #cb2222;
    padding: 30px;
    display: flex;

    .spareparts{
        width: 50%;
        background-color: rgb(247, 246, 244);
        height: 85vh;

        .sparetitle{
            text-align: center;
            height: 30px;
            background-color: antiquewhite;
        }
    }

    .sparesection{
        margin-left: 30px;
        background-color: rgb(247, 246, 244);
        width: 50%;
    }

    
}