.departmentBox-map{

    .tr-map-d{
        color: rgb(135, 135, 135);
        
       

        .dept-ID{
            background-color: rgb(253, 255, 226) !important;
            width: 30vw;
            justify-content: center;
            text-align: center;
            height: 100%;
            line-height: 30px;
            vertical-align: middle;
            height: 30px;
            border-right: 1px solid rgb(135, 135, 135);
            border-bottom: 1px solid rgb(135, 135, 135);
            border-left: 1px solid rgb(135, 135, 135);
            font-weight: 700;

        }

        .dept-name{
            background-color: rgb(255, 198, 198) !important;
            width: 80%;
            border-right: 1px solid rgb(135, 135, 135);
            border-bottom: 1px solid rgb(135, 135, 135);
            justify-content: center;
            text-align: center;
            height: 100%;
            font-weight: 600;
            line-height: 30px;
            vertical-align: middle;
        }
    }
}