.issueManageWrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .manageFirstRow {
    display: flex;

    .openIssues {
      width: 30vw;
      height: 20vh;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 20px;
      justify-content: center;
      color: #888888;
      font-size: 18px;
      background-color: rgb(255, 233, 195);
      font-weight: 700;
      box-shadow: 1.5px 1.5px 0.5px 0.5px #dbdbdb;

      &:hover {
        background-color: rgb(255, 193, 157);
        color: rgb(105, 105, 105);
      }
    }

    .closeIssues {
      width: 30vw;
      height: 20vh;
      display: flex;
      margin: 20px;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      color: #888888;
      background-color: rgb(212, 255, 213);
      font-weight: 700;
      font-size: 18px;
      box-shadow: 1.5px 1.5px 0.5px 0.5px #dbdbdb;

      &:hover {
        background-color: rgb(171, 255, 172);
        color: rgb(105, 105, 105);
      }
    }
  }

  .manageSecondRow {
    display: flex;
    margin-bottom: 50px;

    .updateManageIssues {
      width: 30vw;
      margin: 20px;
      height: 20vh;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      background-color: rgb(255, 214, 250);
      color: #888888;
      font-weight: 700;
      font-size: 18px;
      box-shadow: 1.5px 1.5px 0.5px 0.5px #dbdbdb;

      &:hover {
        background-color: rgb(255, 181, 246);
        color: rgb(105, 105, 105);
      }
    }

    .reportGenerateIssues {
      width: 30vw;
      background-color: rgb(229, 209, 255);
      height: 20vh;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      color: #888888;
      margin: 20px;
      font-weight: 700;
      font-size: 18px;
      box-shadow: 1.5px 1.5px 0.5px 0.5px #dbdbdb;

      &:hover {
        background-color: rgb(196, 126, 222);
        color: rgb(105, 105, 105);
      }
    }
  }
}
